apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: scrapzee
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: sagar1003/scrapzee-auth-api:v1
        ports:
        - containerPort: 5001
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: scrapzee-db-secrets
              key: auth-db-url
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: scrapzee-secrets
              key: jwt-secret
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: scrapzee
spec:
  selector:
    app: auth-service
  ports:
  - port: 80
    targetPort: 5001


