apiVersion: apps/v1
kind: Deployment
metadata:
  name: pricing-service
  namespace: scrapzee
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pricing-service
  template:
    metadata:
      labels:
        app: pricing-service
    spec:
      containers:
        - name: pricing-service
          image: sagar1003/scrapzee-pricing-api:v1
          ports:
            - containerPort: 5002

          readinessProbe:
            httpGet:
              path: /health
              port: 5002
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: 5002
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: scrapzee-db-secrets
                  key: pricing-db-url
            - name: AUTH_SERVICE_URL
              value: "http://auth-service.scrapzee.svc.cluster.local"

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: pricing-service
  namespace: scrapzee
spec:
  selector:
    app: pricing-service
  ports:
    - port: 80
      targetPort: 5002
