apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: scrapzee
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: sagar1003/scrapzee-user-api:v1
        ports:
        - containerPort: 5003
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: scrapzee-db-secrets
              key: users-db-url

        - name: AUTH_SERVICE_URL
          value: "http://auth-service.scrapzee.svc.cluster.local"

        - name: PRICING_SERVICE_URL
          value: "http://pricing-service.scrapzee.svc.cluster.local"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: scrapzee
spec:
  selector:
    app: user-service
  ports:
  - port: 80
    targetPort: 5003


