apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: scrapzee
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: sagar1003/scrapzee-user-api:v2
          ports:
            - containerPort: 5003

          readinessProbe:
            httpGet:
              path: /health
              port: 5003
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: 5003
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: scrapzee-db-secrets
                  key: users-db-url
            - name: AUTH_SERVICE_URL
              value: "http://auth-service.scrapzee.svc.cluster.local"
            - name: PRICING_SERVICE_URL
              value: "http://pricing-service.scrapzee.svc.cluster.local"

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: scrapzee
spec:
  selector:
    app: user-service
  ports:
    - port: 80
      targetPort: 5003

