version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: scrapzee_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-prootpassword"]
      interval: 10s
      timeout: 5s
      retries: 10

  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "5001:5001"
    environment:
      DATABASE_URL: mysql+pymysql://root:rootpassword@mysql:3306/scrapzee_db
      SECRET_KEY: "mysecretkey123"

  pricing-service:
    build: ./pricing-service
    container_name: pricing-service
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      auth-service:
        condition: service_started
    ports:
      - "5002:5002"
    environment:
      DATABASE_URL: mysql+pymysql://root:rootpassword@mysql:3306/scrapzee_db
      SECRET_KEY: "mysecretkey123"
      AUTH_SERVICE_URL: http://auth-service:5001

  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      auth-service:
        condition: service_started
      pricing-service:
        condition: service_started
    ports:
      - "5003:5003"
    environment:
      DATABASE_URL: mysql+pymysql://root:rootpassword@mysql:3306/scrapzee_db
      SECRET_KEY: "mysecretkey123"
      AUTH_SERVICE_URL: http://auth-service:5001
      PRICING_SERVICE_URL: http://pricing-service:5002

  dealer-service:
    build: ./dealer-service
    container_name: dealer-service
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      auth-service:
        condition: service_started
      user-service:
        condition: service_started
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql+pymysql://root:rootpassword@mysql:3306/scrapzee_db
      SECRET_KEY: "mysecretkey123"
      AUTH_SERVICE_URL: http://auth-service:5001
      USER_SERVICE_URL: http://user-service:5003

volumes:
  mysql_data:
