Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.2
PyMySQL==1.1.1
cryptography==42.0.4
Werkzeug==3.0.3
requests==2.32.4
PyJWT==2.8.0
gunicorn==22.0.0
urllib3==2.6.3

# force-fix transitive vulns
jaraco.context==6.1.0
wheel==0.46.2
